<script type="text/javascript" src="https://vk.com/js/api/openapi.js?122"></script>
<button id="loadFriends">загрузить список друзей</button>

<h1>Выберите друзей</h1>

<div class="main" id="main-container"> 
    <div class="column">
        <input type="text" class="filter" id="items-filter" placeholder="Начните вводить имя друга">
        <h2>Ваши друзья</h2>
        <div class="innercolumn" id="catalog"></div>
    </div>
    <div class="column">
        <input type="text" class="filter" id="selected-filter" placeholder="Начните вводить имя друга">
        <h2>Друзья в списке</h2>
        <div class="innercolumn" id="selected"></div>
    </div>
</div> 
<button id="saveFriends">Сохранить</button>

